* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Scrollbar */
html ::-webkit-scrollbar {
  width: 12px;
  background-color: #0881793a;
}
html ::-webkit-scrollbar-track {
  border: 1px solid #234143;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background: #088179cb;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #076e67;
}
/* ---------------------------------------- */
/* scroll to top page */
#scroll-top {
  visibility: hidden;
  margin-top: -23px;
}
/* -----------------------header---------------------- */
header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 1000;
  background-color: rgb(247, 247, 246);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.logo img {
  width: 120px;
  height: auto;
}
.navmenu {
  display: flex;
  align-items: center;
}
.navmenu li {
  margin-right: 35px;
}
.navmenu a {
  color: #1a1a1a;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}
.navmenu a p {
  text-align: center;
  width: 65px;
  padding-bottom: 5px;
  transition: all 0.15s ease;
}
.navmenu p:hover,
.active {
  color: #088178;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 3px solid #088178;
  border-radius: 3px;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 11px;
  margin-left: 8px;
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.15s ease;
  align-items: center;
}
.nav-icon i:hover,
#active1 {
  color: #088178;
  transform: scale(1.2);
}
#menu-icon {
  position: relative;
}
.sub-menu-icon {
  position: absolute;
  top: 100%;
  left: -98px;
  width: 220px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-icon.open-menu {
  max-height: 400px;
}
.sub-menu-icon.open-menu #icon {
  color: #088178;
  transform: scale(1.2);
}

.sub-menu-content {
  background-color: #e4e4e4;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
.sub-menu-content h4 {
  font-weight: 550;
}
.sub-menu-content hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin:10px 0 5px;
}
.sub-menu-content a {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.sub-menu-content a:hover {
  color: #088178;
  font-weight: 600;
}
/* -----------------------banner----------------------- */
.page-header {
  background-image: url(../img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.page-header h2,
.page-header p {
  color: #fff;
  font-size: 30px;
}
/* -------------------------table--------------------- */

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(1) i{
  transition: all .1s ease;
  color: rgb(223, 0, 0);
}
#cart table td:nth-child(1) i:hover{
  transform: scale(1.1);
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) {
  width: 150px;
  text-align: center;
  
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #088178;
}
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0px;
}
#cart table tbody tr td {
  padding-top: 30px;
  font-size: 16px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 35%;
  margin-bottom: 30px;
  margin-left: 50px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon input:focus{
  outline: #088178;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all .1s ease;
  border-radius: 5px;
}
#coupon button:hover,
#subtotal button:hover {
  background: rgba(8,129,120, 0.877);
  transform: scale(1.01);
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 15px;
}
.remove-btn {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}
.remove-btn i {
  font-size: 16px;
}
/* ------------------------footer---------------------- */
footer {
  padding: 40px 80px 0 80px;
}
.contact img {
  width: 120px;
  height: auto;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid;
}
footer .contact,
.about,
.account,
.install {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .about,
.account,
.install {
  margin-top: 85px;
}
footer .logo {
  margin-bottom: 30px;
  margin-left: -10px;
}
footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  font-size: 22px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copy-right {
  width: 100%;
  text-align: center;
}
