/*contact-details*/
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner1 {
    background-image: url("../img/banner/b20.jpg");
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 20px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

#contact-details .details ul li {
    list-style: none;
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#contact-details .details ul li i {
    font-size: 18px;
    padding-right: 22px;
}

#contact-details .details ul li p {
    margin: 0;
    font-size: 18px;
}

/* form-details */
#form-details {
    display: flex;
    justify-content: space-between;
    margin: 100px 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    font-size: 18px;
}

#form-details form button {
    width: 200px;
    background-color: #088178;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}
#form-details form button:hover {
    background-color: #08aca1;
    transition: all 0.3s ease;
}

#form-details .people div {
    padding-bottom: 25px;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    margin-top: 20px;
}

#form-details .people div p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}