* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Scrollbar */
html ::-webkit-scrollbar {
  width: 12px;
  background-color: #0881793a;
}
html ::-webkit-scrollbar-track {
  border: 1px solid #234143;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background: #088179cb;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #076e67;
}
/* ---------------------------------------- */
/* scroll to top page */
#scroll-top {
  visibility: hidden;
  margin-top: -23px;
}
/* --------------------------------------------- */
/* Header */
header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 1000;
  background-color: rgb(247, 247, 246);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.logo img {
  width: 120px;
  height: auto;
}
.navmenu {
  display: flex;
  align-items: center;
}
.navmenu li {
  margin-right: 35px;
}
.navmenu a {
  color: #1a1a1a;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}
.navmenu a p {
  text-align: center;
  width: 65px;
  padding-bottom: 5px;
  transition: all 0.15s ease;
}
.navmenu p:hover,
.active {
  color: #088178;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 3px solid #088178;
  border-radius: 3px;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 11px;
  margin-left: 8px;
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.15s ease;
}
.nav-icon i:hover {
  color: #088178;
  transform: scale(1.2);
}

#menu-icon {
  position: relative;
}
.sub-menu-icon {
  position: absolute;
  top: 100%;
  left: -98px;
  width: 220px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-icon.open-menu {
  max-height: 400px;
}
.sub-menu-icon.open-menu #icon {
  color: #088178;
  transform: scale(1.2);
}

.sub-menu-content {
  background-color: #e4e4e4;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
.sub-menu-content h4 {
  font-weight: 550;
}
.sub-menu-content hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0 5px;
}
.sub-menu-content a {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.sub-menu-content a:hover {
  color: #088178;
  font-weight: 600;
}

/* ---------------------------------------------- */
/* home page */
section {
  padding: 5% 10%;
}
.main-body {
  width: 100%;
  height: 100vh;
  margin-top: 75px;
  background-image: url(../img/banner-3.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.text h4 {
  color: #088178;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.text h1 {
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 500;
  width: 500px;
  line-height: 1.1;
}
.text p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
}
.btn {
  background-image: url(../img/button.png);
  background-color: transparent;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #088178;
  font-size: 16px;
  font-weight: 700;
  margin-top: 60px;
}
/* ---------------------------------------- */
/* feature */
#feature {
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fast-fe h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 9px 8px 6px 8px;
  border-radius: 5px;
  color: #088178;
  background-color: #fddde4;
  display: inline-block;
}
#feature .fast-fe {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0;
  transition: all 0.15s ease;
}
#feature .fast-fe:hover {
  box-shadow: 10px 10px 55px rgba(70, 65, 220, 0.1);
}
.fast-fe img {
  width: 100%;
  margin-bottom: 10px;
}
/* ---------------------------------------------- */
/* product */
.product {
  text-align: center;
}
.product h2 {
  font-size: 45px;
}
.product p {
  font-size: 18px;
  margin: 15px 0 20px 0;
}
.pro {
  width: 23%;
  height: 469px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: all 0.25s ease;
  position: relative;
}
.pro img {
  width: 100%;
  border-radius: 20px;
}
.pro:hover {
  transform: scale(0.9);
}
.pro .des {
  text-align: start;
  padding: 10px 0;
}
.pro .des span {
  color: #088178;
  font-size: 14px;
}
.pro .des h5 {
  font-size: 16px;
  padding-top: 5px;
  color: black;
}
.pro .des i {
  font-size: 14px;
  color: rgb(243, 181, 25);
}
.pro .des h4 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  color: #088178;
}
.pro .cart i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  font-weight: 500;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
/* ------------------------------------------- */
/* banner */

#banner1 h4 {
  font-size: 24px;
  color: #fff;
}
#banner1 h2 {
  font-size: 36px;
  color: #fff;
  padding: 10px 0;
}
#banner1 h2 span {
  color: #ef3636;
}
#banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin: 25px 0;
}
#banner2 h4 {
  font-size: 24px;
}
#banner2 h2 {
  font-size: 36px;
}
#banner2 h3 {
  font-size: 40px;
}
#banner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/banner/b17.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  margin: 25px 0 85px 0;
}
/* ---------------------------------------- */
/* footer */
footer {
  padding: 40px 80px 0 80px;
}
.contact img {
  width: 120px;
  height: auto;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid;
}
footer .contact,
.about,
.account,
.install {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .about,
.account,
.install {
  margin-top: 85px;
}
footer .logo {
  margin-bottom: 30px;
  margin-left: -10px;
}
footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  font-size: 22px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copy-right {
  width: 100%;
  text-align: center;
}
