*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f4f4f4;
}
.wrapper{
     width: 500px;
    /* height: 650px;  */
    padding: 2rem 1rem;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction:column ;
    justify-content:stretch ;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
  
}
h1{
    font-size: 3rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e4e4e4;
    font-weight: 450;
}
button{
    font-size:  1rem;
    margin-top: 1.8rem;
    padding: 10px 0px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 98%;
    color: #fff;
    cursor: pointer;
    background: rgb(8,129,120);
    transition: all .18s ease;
}
button:hover{
    background: rgba(8,129,120, 0.877);
    transform: scale(1.01);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(17, 107, 143);
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member a{
    color: rgb(17, 107, 143);
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    color: #464647;
    font-weight: 450;
}