* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Scrollbar */
html ::-webkit-scrollbar {
  width: 12px;
  background-color: #0881793a;
}
html ::-webkit-scrollbar-track {
  border: 1px solid #234143;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb {
  background: #088179cb;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #076e67;
}
/* ------------------------------------------------ */
/* Header */
header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 1000;
  background-color: rgb(247, 247, 246);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.logo img {
  width: 120px;
  height: auto;
}
.navmenu {
  display: flex;
  align-items: center;
}
.navmenu li {
  margin-right: 35px;
}
.navmenu a {
  color: #1a1a1a;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}
.navmenu a p {
  text-align: center;
  width: 65px;
  padding-bottom: 5px;
  transition: all 0.15s ease;
}
.navmenu p:hover {
  color: #088178;
  font-size: 19px;
  font-weight: 500;
  border-bottom: 3px solid #088178;
  border-radius: 3px;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 11px;
  margin-left: 8px;
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.15s ease;
}
.nav-icon i:hover {
  color: #088178;
  transform: scale(1.2);
}
#menu-icon {
  position: relative;
}
.sub-menu-icon {
  position: absolute;
  top: 100%;
  left: -98px;
  width: 220px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-icon.open-menu {
  max-height: 400px;
}
.sub-menu-icon.open-menu #icon {
  color: #088178;
  transform: scale(1.2);
}

.sub-menu-content {
  background-color: #e4e4e4;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
.sub-menu-content h4 {
  font-weight: 550;
}
.sub-menu-content hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin:10px 0 5px;
}
.sub-menu-content a {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.sub-menu-content a:hover {
  color: #088178;
  font-weight: 600;
}
/* ------------------------------------------------ */
/* Product pages */
.main-body {
  margin-top: 75px;
  padding: 80px 10% 0 10%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}
.product-container img {
  width: 100%;
}
.single-product-image {
  width: 40%;
  margin-right: 100px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-imag-col {
  flex-basis: 24%;
  cursor: pointer;
}
.product-container {
  display: flex;
  margin-bottom: 400px;
}
.product-details {
  padding-top: 20px;
}
.product-details h6,
h4 {
  margin-bottom: 30px;
}
.product-details h1 {
  font-size: 36px;
  margin-bottom: 30px;
}
.product-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #088178;
  border-radius: 5px;
}
.product-details input {
  width: 60px;
  height: 50px;
  padding-left: 15px;
  font-size: 16px;
  margin-right: 2px;
  border: 1px solid #088178;
  border-radius: 5px;
}
.product-details input,
select:focus {
  outline: none;
}
.product-details button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  background-color: #088178;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-details button:hover {
  background-color: #08aca1;
  color: rgb(241, 241, 241);
  transition: all 0.3s ease;
}
.product-details h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}
.product-details span {
  line-height: 20px;
}
.product-details p {
  width: 590px;
}
/* ------------------------------------------- */
/* Featured Products */
.product {
  text-align: center;
  margin-bottom: 150px;
}
.product h2 {
  font-size: 45px;
}
.product p {
  font-size: 18px;
  margin: 15px 0 20px 0;
}
.pro {
  width: 23%;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: all 0.25s ease;
  position: relative;
}
.pro img {
  width: 100%;
  border-radius: 20px;
}
.pro:hover {
  transform: scale(0.9);
}
.pro .des {
  text-align: start;
  padding: 10px 0;
}
.pro .des span {
  color: #088178;
  font-size: 14px;
}
.pro .des h5 {
  font-size: 16px;
  padding-top: 5px;
}
.pro .des i {
  font-size: 14px;
  color: rgb(243, 181, 25);
}
.pro .des h4 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  color: #088178;
}
.pro .cart i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  font-weight: 500;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.pro-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
/* ------------------------------- */
/* footer */
footer {
  padding: 40px 80px 0 80px;
}
.contact img {
  width: 120px;
  height: auto;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid;
}
footer .contact,
.about,
.account,
.install {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .about,
.account,
.install {
  margin-top: 85px;
}
footer .logo {
  margin-bottom: 30px;
  margin-left: -10px;
}
footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
}
footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  font-size: 22px;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copy-right {
  width: 100%;
  text-align: center;
}
