/* ---------------------Shop-Page-------------------------- */
.page-header {
  background-image: url(../img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.page-header h2,
.page-header p {
  color: #fff;
  font-style: italic;
  font-size: 30px;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
.cart {
  text-align: center;
}
/* ---------------------------------Blog page --------------------- */
#blog-header {
  background-image: url(../img/banner/b19.jpg);
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.35s;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  top: 8px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
}
#blog .blog-details a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}
.blog-details p {
  width: 80%;
}
.blog-details {
  height: auto;
  box-shadow: 13px 19px 2px 2px #576188, 0 0px 0px 1px #576188;
  border-radius: 4px;
  padding-left: 2px;
}
