/* ---------------------Shop-Page-------------------------- */
.page-header{
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:14px;
  }
  .page-header h2,.page-header p{
    color: #fff;
    font-style: italic;
  }
  #pagination{
    text-align: center;
  }
  #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
  }
  #pagination a i{
    font-size: 16px;
    font-weight: 600;
  
  }
  #newsletter{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b2.jpg");
    background-repeat: no-repeat;
    background-position:20%  30%;
    background-color: #041e04;
  }
  #newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
  }
  #newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #adb6ad
  }
  #newsletter p span{
    color: #ffbd27;
  }
  #newsletter .form{
    display: flex;
    width: 40%;
  }
  #newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 4x;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #newsletter button{
    background-color:#088178 ;
    color: #fff;
    white-space: nowrap;
  
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  /* -------------------- Single Product ---------------------- */
  #prodetails{
    display:flex;
    margin-top: 20px;
  }
  
  #prodetails .single-pro-image{
    width:40% ;
    margin-right: 50px;
  
  }
  .small-img-group{
    display:flex;
    justify-content:space-between;
  }
  .small-img-col{
    flex-basis: 24%;
    justify-content:space-between;
  }
  #prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
  }
  #prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
  }
  #prodetails .single-pro-details h2{
    font-size: 26px;
  }
  #prodetails .single-pro-details select{
   display: block;
   padding: 5px 10px;
   margin-bottom:10px ;
   width: 150px;
  }
  #prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  #prodetails .single-pro-details input:focus{
    outline: none;
  } 
  #prodetails .single-pro-details button {
  background-color:#088178 ;
  color: #fff;
  width: 80px;
  height: 47px;
  border-radius: 4px;
  }
  #prodetails .single-pro-details span{
  line-height: 25px;
  
  }
  
.cart{
   text-align: center;
}
/* ---------------------------------Blog page --------------------- */
#blog-header{
  background-image: url(img/banner/b19.jpg);
    }
#blog{
  padding: 150px 150px 0 150px;

}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
width: 50%;
margin-right: 40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details{
  width: 50%;


  }
  #blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.35s;
  }
  #blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    top:8px;
    right: -60px;
  }
  #blog .blog-details a:hover{
    color:#088178
  }
  #blog .blog-details a:hover::after{
    background-color:#088178 ;
  }
  #blog .blog-box h1{
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 70px;
    font-weight:700 ;
    color: #c9cbce;
    z-index:-9 ;
  }
  .blog-details p{
    width: 80%;
  }
.blog-details{
  height: auto;
  box-shadow: 13px 19px 2px 2px #576188, 0 0px 0px 1px #576188;;
  border-radius: 4px;
  padding-left: 2px;
  
}